

.ace_editor {
    overflow: visible;
    font-family: monospace;
}
#jsEditor { 
    border: 0.2em black solid;
    height: 50vh;
    width: 95%;
    font-family : monospace !important;
    font-size: 16px !important;
    direction:ltr !important;
    text-align:left !important;
}

#runAll{
    margin-top: 1.2em;
}

#runStep{
    margin-top: 1.2em;
}

#myText{
    margin: auto;
    margin-top: 2vh;
    width: 90%;
}

#result{
    width: 80%;
    margin: auto;
    margin-top: 3vh;
    padding: 8px;
    height: auto;
    text-align: left;
    white-space: pre-wrap;
    background: rgb(22, 23, 19);
    border: 5px solid black;
    border-radius: 3;
}

#errors{
    width: 80%;
    margin: auto;
    margin-top: 2vh;
    padding: 8px;
    height: auto;
    text-align: center;
}