

.ace_editor {
    overflow: visible;
    font-family: monospace;
}
#jsEditor { 
    border: 0.2em black solid;
    height: 50vh;
    width: 95%;
    font-family : monospace !important;
    font-size: 16px !important;
    direction:ltr !important;
    text-align:left !important;
    padding-left: 0.3em;
    overflow-x: scroll;
}

#stack {
    border: 0.2em black solid;
    border-top: none;
    height: 25vh;
    width: 95%;
    font-family : monospace !important;
    font-size: 16px !important;
    direction:ltr !important;
    text-align:left !important;
    margin-top: 0;
    padding-left: 0.3em;
    white-space: pre-wrap;
}

#showStack {
    border: 0.2em black solid;
    border-top: none;
    height: 3vh;
    width: 95%;
    font-family: "Verdana", sans-serif;
    font-size: 16px !important;
    direction:ltr !important;
    text-align:center !important;
    margin-top: 0;
    padding-left: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    white-space: pre-wrap;
    background-color: rgb(255,181,49);
}
/*
#showStack {

    direction:ltr !important;
    text-align:center !important;
    background-color: rgb(255,181,49);
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}
*/

#showStack:hover{
    cursor: pointer;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
    background-color: rgb(248,156,40);
}

.boxSelected{
    border: 3px solid rgb(255,181,49) !important;
}

#runAll{
    margin-top: 1.2em;
}

#runStep{
    margin-top: 1.2em;
}

#myText{
    margin: auto;
    margin-top: 2vh;
    width: 90%;
}

#result{
    width: 80%;
    margin: auto;
    margin-top: 3vh;
    padding: 8px;
    height: auto;
    text-align: left;
    white-space: pre-wrap;
    background: rgb(22, 23, 19);
    border: 5px solid black;
    border-radius: 3;
}

#errors{
    width: 80%;
    margin: auto;
    margin-top: 2vh;
    padding: 8px;
    height: auto;
    text-align: center;
}

#adjust {
    width: 3px;
    height: 20vh;
    position: absolute;
    left: 100%;
    top: 0;
}

#adjust:hover {
    color: red;
    cursor:col-resize;
}