<!DOCTYPE html>
<html lang="en">

<head>
    <title>HMMM With Wally</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

    {% block head %}{% endblock %}

    <div id="sidebar" class = "noselect">
        <button class="buttonActive" id='download'><i class="fa fa-download"></i> Download</button>
    </div>

    <div id="main">
        <div id="header" class = "noselect">
            <h1>HMMM WITH WALLY</h1>
        </div>
        <div style="width:60%;">
            <p>
                Welcome to HMMM (Harvey Mudd Miniature Machine)! 
                <a id="HMMMlink" href="https://www.cs.hmc.edu/~cs5grad/cs5/hmmm/documentation/documentation.html"
                   target="_blank">HMMM Documentation here</a>
            </p>
        </div>
        <div id="flexbox">
            <div class="flexchild" id="leftcontent">
                {% block content %}{% endblock %}
            </div>
            <div class="flexchild" id="midcontent">
                <p id="inputprompt">inputs (separate with spaces):</p>
                {% block answers %}{% endblock %}
            </div>
            <div class="flexchild" id="rightcontent">
                {% block registers %}{% endblock %}
            </div>
        </div>
    </div>

</body>

</html>