{% extends "base.html" %}

{% block head %}
<link rel = "stylesheet" href= "{{ url_for('static', filename = 'css/writeCode.css') }}">
<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
<script type = "text/javascript" src="{{ url_for('static', filename = 'ace/mytheme.js') }}"></script>
<script type = "text/javascript" src="{{ url_for('static', filename = 'js/download.js') }}"></script>
<script type=text/javascript>
	$(function() {
		$("#download").click(function() {
			var filename = prompt("Please enter the file name:", "wally.txt");
			if (filename != null && filename != "") {
				text = ace.edit("jsEditor").getValue();
				download(filename, text);
			}
		});
	});

	var states = [];
	var currentState = 0;
	$(function() {
		$('input#runAll').click(function() {
		if (! ace.edit("jsEditor").getValue().includes('halt')) {
			var error = "Code must include operation 'halt'";
			$("#errors").text(error);
			return;
		}
		$("#errors").text('');
		$.getJSON('/background_process_writeHMMM', {
			code: ace.edit("jsEditor").getValue(),
			inputs: $("#myText").val(),
		}, function(data) {
			if (typeof data.result == "string"){
				$("#errors").text(data.result);
			}
			else{
				document.getElementById("runAll").classList.add('buttonSelected');
				if (document.getElementById("runStep").classList.contains('buttonSelected')) {
					document.getElementById("runStep").classList.remove('buttonSelected');
				}
				document.getElementById("forward").style.display = "none";
				document.getElementById("back").style.display = "none";

				var print = "";
				var outputs = data.result[0];
				for (i = 0; i < outputs.length; i++) {
					print += outputs[i] + "\n";
				}
				$("#result").text(print);

				currentState = 0;
				states = data.result[1];
				var registers = data.result[1][states.length - 1][1];
				var rows = '<tr><td>registers</td><td>values</td></tr>';
				for (i = 0; i < registers.length; i++) {
					var row = '<tr>';
					row += '<td>' + "r" + i.toString() + '</td>';
					row += '<td>' + registers[i].toString() + '</td>';
					rows += row + '<tr>';
				}

				$("#regTable").html(rows);
			}


		});
		return false;
		});
	});

	var written = '';

	$(function() {
		$('input#runStep').click(function() {
		$("#errors").text('');
		$.getJSON('/background_process_writeHMMM', {
			code: ace.edit("jsEditor").getValue(),
			inputs: $("#myText").val(),
		}, function(data) {
			// if ($("#mode").val() == true)
			if (typeof data.result == "string"){
				$("#result").text(data.result);
			}
			else{
				currentState = 0;
				written = '';
				states = data.result[1];

				document.getElementById("runStep").classList.add('buttonSelected');
				if (document.getElementById("runAll").classList.contains('buttonSelected')) {
					document.getElementById("runAll").classList.remove('buttonSelected');
				}
				document.getElementById("forward").style.display = "block";
				document.getElementById("back").style.display = "block";
				if (states.length <= 2) {
					document.getElementById("forward").className = "buttonDisabled";
				}
				else {
					document.getElementById("forward").className = "buttonActive";
				}
				document.getElementById("back").className = "buttonDisabled";
				
				//ace.edit("jsEditor").moveCursorTo(0,0);
				//ace.edit("jsEditor").selection.selectLine();
				var lineLen = ace.edit("jsEditor").session.getLine(0).length;
				ace.edit("jsEditor").selection.setSelectionRange(new ace.Range(0,0,0,10));

				var rows = '<tr><td>registers</td><td>values</td></tr>';
				for (i = 0; i < 16; i++) {
					var row = '<tr>';
					row += '<td>' + "r" + i.toString() + '</td>';
					row += '<td>' + '0' + '</td>';
					rows += row + '<tr>';
				}

				$("#regTable").html(rows);
				$("#result").text(written);
			}


		});
		return false;
		});
	});

	$(function() {
		$("input#forward").click(function() {
			if (document.getElementById("forward").className == "buttonActive") {
				currentState++;

				if (currentState > 0) {
					document.getElementById("back").className = "buttonActive";
				}
				if (currentState >= states.length - 2) {
					document.getElementById("forward").className = "buttonDisabled";
				}
				if (states[currentState][2] == 'r') {
				 	// ask for input?
				}
				else if (states[currentState][2] != '') {
				 	written += states[currentState][2].toString() + '\n';
				}

				var line = states[currentState][0];
				var lineLen = ace.edit("jsEditor").session.getLine(line).length;
				ace.edit("jsEditor").selection.setSelectionRange(new ace.Range(line,0,line,lineLen));

				var registers = states[currentState][1];
				var rows = '<tr><td>registers</td><td>values</td></tr>';
				for (i = 0; i < registers.length; i++) {
					var row = '<tr>';
					row += '<td>' + "r" + i.toString() + '</td>';
					row += '<td>' + registers[i].toString() + '</td>';
					rows += row + '<tr>';
				}
				$("#regTable").html(rows);
				$("#result").text(written);
			}
		});
	});

	$(function() {
		$("input#back").click(function() {
			// only run if button is not disabled
			if (document.getElementById("back").className == "buttonActive") {
				currentState = currentState - 1;
				
				if (currentState < states.length - 2) {
					document.getElementById("forward").className = "buttonActive";
				}
				if (currentState == 0) {
					document.getElementById("back").className = "buttonDisabled";
				}
				if (states[currentState+1][2] != 'r' && states[currentState+1][2] != '') {
					if (written.split('\n').length <= 2) {
						written = '';
					}
					else {
						written = written.substring(0, written.substring(0,written.length-1).lastIndexOf("\n") + 1);
					}
				}
				
				var line = states[currentState][0];
				var lineLen = ace.edit("jsEditor").session.getLine(line).length;
				ace.edit("jsEditor").selection.setSelectionRange(new ace.Range(line,0,line,lineLen));

				var registers = states[currentState][1];
				var rows = '<tr><td>registers</td><td>values</td></tr>';
				for (i = 0; i < registers.length; i++) {
					var row = '<tr>';
					row += '<td>' + "r" + i.toString() + '</td>';
					row += '<td>' + registers[i].toString() + '</td>';
					rows += row + '<tr>';
				}
				$("#regTable").html(rows);
				$("#result").text(written);
			}
		});
	});

</script>
{% endblock %}

{% block content %}
    <form>
        <div id = "jsEditor">00 </div>
		<script type = "text/javascript">
			//ace.config.set('themePath', '../static/ace');
			//ace.config.set('modePath', '../static/ace');
			var editor = ace.edit("jsEditor");
			// var lines = 1;
			// editor.session.on("change", function(e) {
			// 	if (lines != editor.session.getLength()) {
			// 		editor.setValue('hi');
			// 	}
			// 	lines = editor.session.getLength();
			// })
			editor.setTheme("ace/theme/monokai");
			editor.session.setMode("ace/mode/python");
			//Selection.on("changeCursor", function())
			editor.moveCursorTo(0,3);
			editor.session.getDocument().on("change", function(e) {
				if (document.getElementById("runAll").classList.contains('buttonSelected')) {
					document.getElementById("runAll").classList.remove('buttonSelected');
				}
				if (document.getElementById("runStep").classList.contains('buttonSelected')) {
					document.getElementById("runStep").classList.remove('buttonSelected');
				}
				document.getElementById("forward").style.display = "none";
				document.getElementById("back").style.display = "none";
			});
			editor.commands.addCommand({
				name: "returnReorder",
				bindKey: {win: "return", mac: "return"},
				exec: function(editor) {
					// define function
					const zeroPad = (num, places) => String(num).padStart(places, '0');
					
					// add new number
					var startLine = editor.getSelectionRange().start.row;
					var lineNum = zeroPad((startLine + 1).toString(),2);
					editor.session.insert(editor.getCursorPosition(), '\n' + lineNum + ' ');
					
					// renumber after
					// var pos = editor.getCursorPosition();
					// var r = new Range(pos.row, pos.column, editor.end.row, editor.end.column);
					// var toShift = editor.session.getTextRange(r);
					// var shifted = '';
					// while ('\n' in toShift) {
					// 	i = toShift.indexOf('\n');
					// 	shifted += toShift.slice(0,i+1);
					// 	toShift = toShift.slice(i,-1);
					// 	n = toShift.slice(0,2);
					// 	n = n.parseInt();
					// 	n += 1;
					// 	n = zeroPad(n.toString(), 2);
					// }
					// editor.session.insert(editor.getCursorPosition(), shifted);

					
					// var text = ace.edit("jsEditor").getValue();
					// var newText = previous + '\n' + lineNum + '';
					// ace.edit("jsEditor").setValue(newText);
					// editor.clearSelection();

					var start = editor.getCursorPosition().row + 1;
					
					var length = editor.session.getLength();
					var toShift = editor.session.getLines(0, length-1);
					var shifted = '';
					var ops = ['jumpn','jeqzn','jnezn','jgtzn','jltzn','calln'];
					for (n=0; n<length; n++) {
						var line = toShift[n];
						if ((ops.filter(x => line.includes(x))).length > 0) {
							var num = parseInt(line.slice(-2));
							if (num >= start-1 && num < length-1) {
								newNum = zeroPad((num + 1).toString(), 2);
								line = line.slice(0,-2) + newNum;
							}
						}
						if (!isNaN(line.slice(0,2)) && line.slice(0,2) != '') {
							shifted += zeroPad(n.toString(), 2) + ' ' + line.slice(3);
						}
						else {
							shifted += zeroPad(n.toString(), 2) + ' ' + line;
						}
						if (n != length-1) {
							shifted += '\n';
						}

					}
					editor.setValue(shifted);
					editor.clearSelection();
					editor.moveCursorTo(start-1,3);

					// add case for if returning at end of line or moving stuff onto next line
				}
			})
			editor.commands.addCommand({
				name: "deleteReorder",
				bindKey: {win: "backspace", mac: "backspace"},
				exec: function(editor) {
					// reorder

					// fix bug: for jumpn 10 if the last row is 10, deleting wont update
					// fix move cursor for delete at end

					if (editor.getCursorPosition().column <= 3) {
						editor.removeToLineStart();
						editor.session.getDocument().removeNewLine(editor.getCursorPosition().row-1);
						var pos = editor.getCursorPosition();
						var r = editor.getCursorPosition().row;
						
						const zeroPad = (num, places) => String(num).padStart(places, '0');
						var length = editor.session.getLength();
						var toShift = editor.session.getLines(0, length-1);
						var shifted = '';
						var ops = ['jumpn','jeqzn','jnezn','jgtzn','jltzn','calln'];
						var x = 0;
						for (n=0; n<length; n++) {
							var line = toShift[n];
							if ((ops.filter(x => line.includes(x))).length > 0) {
								var num = parseInt(line.trim().slice(-2));
								if (num - 1 >= r && num < length) { ///check
								 	newNum = zeroPad((num - 1).toString(), 2);
								 	line = line.slice(0,-2) + newNum;
								}
							}
							if (!isNaN(line.slice(0,2)) && line.slice(0,2) != '') {
								shifted += zeroPad(n.toString(), 2) + ' ' + line.slice(3);
							}
							else {
								shifted += zeroPad(n.toString(), 2) + ' ' + line;
							}
							if (n != length-1) {
								shifted += '\n';
							}
							if (r+1 == n) {
								var x = line.slice(3).length;
							}

						}
						editor.setValue(shifted);
						editor.clearSelection();
						editor.moveCursorTo(pos.row,pos.column);
					}
					else {
						var p = editor.getCursorPosition();
						editor.session.remove(new Range(p.row-2,p.column-2,p.row, p.column));
					}
					// const zeroPad = (num, places) => String(num).padStart(places, '0');
					// var length = editor.session.getLength();
					// var toShift = editor.session.getLines(0, length-1);
					// var shifted = '';
					// var arr = ['jumpn','jeqzn','jnezn','jgtzn','jltzn','calln'];
					// for (n=0; n<length; n++) {
					// 	var line = toShift[n];
					// 	if ((arr.filter(x => line.includes(x))).length > 0) {
					// 		var num = parseInt(line.slice(-2));
					// 		if (num >= start-1 && num < length-1) {
					// 			newNum = zeroPad((num + 1).toString(), 2);
					// 			line = line.slice(0,-2) + newNum;
					// 		}
					// 	}
					// 	if (!isNaN(line.slice(0,2)) && line.slice(0,2) != '') {
					// 		shifted += zeroPad(n.toString(), 2) + ' ' + line.slice(3);
					// 	}
					// 	else {
					// 		shifted += zeroPad(n.toString(), 2) + ' ' + line;
					// 	}
					// 	if (n != length-1) {
					// 		shifted += '\n';
					// 	}

					// }
					// editor.setValue(shifted);
					// editor.clearSelection();
					//editor.moveCursorLineEnd();

					// define function
					// const zeroPad = (num, places) => String(num).padStart(places, '0');
					
					// // add new number
					// selectionRange = editor.getSelectionRange();
					// var startLine = selectionRange.start.row;
					// var startChar = selectionRange.start.column;
					// var lineNum = zeroPad((startLine + 1).toString(),2);
					// editor.session.insert(editor.getCursorPosition(), '\n' + lineNum + ' ');
				}
			})
		</script>
    </form>
	<div id="buttons">
		<input class = "buttonActive" id = "runAll" type = "submit" value="RUN ALL" />
		<input class = "buttonActive" id = "runStep" type = "submit" value="STEP THROUGH" />
		<input class = "buttonDisabled" id = "back" type = "button" value="<- back" style="display:none"/>
		<input class = "buttonDisabled" id = "forward" type = "button" value="-> next" style="display:none"/>
	</div>
{% endblock %}

{% block answers %}
	<input type="text" id="myText" value="">
	<p id = "result" style = "color:white"></p>
	<p id = "errors" style = "color:white"></p>
{% endblock %}

{% block registers %}	
	<table id="regTable">
		<tr>
			<td>registers</td>
			<td>values</td>
		</tr>
		<tr>
			<td>r0</td>
			<td></td>
		</tr>
		<tr>
			<td>r1</td>
			<td></td>
		</tr>
		<tr>
			<td>r2</td>
			<td></td>
		</tr>
		<tr>
			<td>r3</td>
			<td></td>
		</tr>
		<tr>
			<td>r4</td>
			<td></td>
		</tr>
		<tr>
			<td>r5</td>
			<td></td>
		</tr>
		<tr>
			<td>r6</td>
			<td></td>
		</tr>
		<tr>
			<td>r7</td>
			<td></td>
		</tr>
		<tr>
			<td>r8</td>
			<td></td>
		</tr>
		<tr>
			<td>r9</td>
			<td></td>
		</tr>
		<tr>
			<td>r10</td>
			<td></td>
		</tr>
		<tr>
			<td>r11</td>
			<td></td>
		</tr>
		<tr>
			<td>r12</td>
			<td></td>
		</tr>
		<tr>
			<td>r13</td>
			<td></td>
		</tr>
		<tr>
			<td>r14</td>
			<td></td>
		</tr>
		<tr>
			<td>r15</td>
			<td></td>
		</tr>
	</table>
{% endblock %}

